



h1 {
    font-size: 2em;
    font-family:"Pontano Sans Regular", arial, verdana, sans-serif; 
    color: gray;
    margin-left: 50px;
}

li {
    list-style:none;
}


.recipetitle {
    font-size: 1em;
    font-family:"Pontano Sans Regular", arial, verdana, sans-serif; 
    color: gray;
    padding: 15px;
    float: left;
}

.buttons {
		color:white;
		background: gray; 
        margin: 12px 12px 12px 12px;
        padding: 3px 3px 3px 3px;
        float:right;
        display: inline;
}


a:hover {
      color:white;
      background-color: orange 
}






.head-img {
        background: #ACF53D;
        width:relative
        height: 170px;
        padding: 10px;
        color: white;   
        font-size: 1.5em;
        line-height:4px;
        border-bottom-style:dotted;
}

.container {
        background-color: #D4F870;
        width:900px;
        height: 350px;
        margin: 70px;
        padding: 10px;
        float: left;
}

.container li{
        display: inline;
}

.container a{
        width:200px;
}



footer {
        background: #ACF53D;
        width:relative;
        height: 160px;
        padding: 10px;
        color: white;
        font-size: 1em;
        line-height:4px
        text-decoration:none;
        clear: both;
}





/* ===============================
   Eliminar subrayado en los links
   ===============================*/


a:active {
text-decoration: none;


}


a:link {
text-decoration: none;


}


a:visited {
text-decoration: none;


}


a:hover {
text-decoration: none;
}